.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100vw;
}

.sidebar {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background-color: #dfdcb9;
	height: 100%;
	width: 100vw;

}


.sidebar form {
	padding: 0 10px;
	margin-top: 20px;
}

.sidebar label {
	margin-bottom: 10px;
}


.settings-form label {
	margin-bottom: 10px;
}

.settings-form {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 100px;
}





.content {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}


.result-container {
	overflow: scroll;
	flex: 1;
	background-color: #1e7069;
}


@media only screen and (min-width: 700px) {
	.app {
		flex-direction: row;
	}
	
	.sidebar {
		max-width: 240px;
	}
}

